registry=https://registry.npmjs.org/
# This project is meant to be reproducible in any environment.
# If your machine has a global .npmrc pointing to a private registry
# (e.g. AWS CodeArtifact) this file forces dependencies to resolve
# from the public npm registry.
always-auth=false
