.empty {
  height: 60vh;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 16px;
}

ion-content {
  --padding-bottom: 88px;
}

.filters {
  padding-bottom: 0;
}

.bulk {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
